/**
 * Copyright 2007 The Apache Software Foundation
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
 /* 
	hbexplorer styles
	important: these should be namespaced
	example:
		let's say you are creating an app called "calculator"; you should prefix all your styles with your application's name like so
		
		.calculator img {
			border: 1px solid #000;
		}
		.calculator p {
			margin: 10px 0px;
		}
		etc...

	other notes:
	* don't use ids - there may be more than one of your apps open; use classes!
	* the toolbar element is absolutely positioned and 100% wide (and therefor 0px high);
	  any elements inside it should also be absolutely positioned
*/

.hbexplorer img.hbexplorer_icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 27px;
	left: 3px;
}